<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/site.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/11.5.0/mermaid.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" type="text/javascript"></script>
    <script src="/assets/js/svg-pan-zoom.min.js" type="text/javascript"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-org-chart@3.1.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-flextree@2.1.2/build/d3-flextree.js"></script>
    {% include head-custom.html %}

    {% seo %}
</head>

<body>

    <header>
        <div class="container">
            <a id="a-title" href="{{ '/' | relative_url }}">
                <h1>{{ site.title | default: site.github.repository_name }}</h1>
            </a>
            <h2>{{ site.description | default: site.github.project_tagline }}</h2>

            <section id="downloads">
                {% if site.show_downloads %}
                <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
                <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
                <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
                {% endif %}
            </section>
            <section id="navigation">
                {% include navigation.html %}
            </section>
        </div>
    </header>

    <div class="container">
        <section id="main_content">
            {{ content }}
        </section>
    </div>

    <section id="footer">
        {% include footer.html %}
    </section>

    <script>

        /** Mermaid */
        var config = {
            startOnLoad: true,
            theme: 'forest',
            flowchart: {
                useMaxWidth: false,
                htmlLabels: true
            }
        };
        mermaid.initialize(config);
        window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));

        /** Materialize Tooltip */
        M.AutoInit();
        var elems = document.querySelectorAll('.tooltipped');
        var instance = M.Tooltip.getInstance(elems);

        /** svg-pan-zoom plugin */
        const observer = new MutationObserver((mutations) => {
            mutations.forEach((mutation) => {
                //debugger;
                var svgElement = document.querySelector('.language-mermaid > svg');
                if (svgElement) {
                    svgElement.setAttribute("width", "100%");
                    var panZoomInstance = svgPanZoom(svgElement, {
                        zoomEnabled: true,
                        controlIconsEnabled: true,
                        fit: true,
                        center: true
                    });

                    // 设置默认缩放比例为 50%
                    panZoomInstance.zoom(0.7);
                }

            });
        });
        observer.observe(document.body, { childList: true, subtree: true });

    </script>
</body>
</html>